.as-name{
	position: absolute;
	z-index: 999;
	top:35%;
	left: 50%;
	transform:translate(-50%,-50%);
	font-family: 'Montserrat Alternates', sans-serif;
	color: #DFE0DF;
	font-weight: bold;
	font-size: 3vw;
}
.profile{
	position: relative;
	width: 94vw;
	margin: auto;	
	font-family: 'Montserrat Alternates', sans-serif;
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 2vw;
}
.as-info{
	background-color: #395ABD;
	padding: 1vw;
	color: white;

}
.as-info div{
	margin-top: 1vw;
}
.as-services{
	background-color: #162034;
	padding: 1vw;
	color: white;
}
.services{
	margin: 0;
	padding: 0;
}
.service{
	list-style: none;
	background-color: #395ABD;
	margin-top: 1vw;
	padding: 0.5vw;
	width: 17vw;
	border-radius: 0.5vw;
	transition: 0.5s;
}
.service:hover{
	transition: 0.5s;
	background-color: #007AFF;
	cursor: pointer;
}