body{
	margin:0;
	padding: 0;
	box-sizing: border-box;

}
a{
	text-decoration: none;
}
.swiper-container {
    width: 100%;
    height: 100vh;
}
.slide-image{
	width: 100%;
	z-index: 0;
	opacity: 0.4;
}
.slider-label{
	z-index: 99;
	position: absolute;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight:bold;
	font-size: 4vw;
	top:65%;
	left:10%;
	transform: translateY(-100%);
	color:#fff;
}
.swiper-slide{
	position: relative;
	background-color: black;
}
.sublabel{
	font-size: 1.2vw;
	float: right;
	width: 50%;
	margin-right: 20%;
	color:lightgray;
}
.slider-button{
	border-radius: 2vw;
	border:0.1vw solid #007AFF;
	background-color: rgb(0,0,0,0.5);
	color:gray;
	font-size: 1.5vw;
	width: 20%;
	height: 5vw;
	margin-left:5%;
	cursor: pointer;
	position: relative;
}
.slider-button span{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.slider-button:hover{
	 background-color: rgb(0,122,255,0.3);
}
.slider-button:hover span{
	color: #fff;
}
.container{
	width: 80vw;
	height: auto;
	position: relative;
	margin: auto;
	margin-top: 1vw;
	padding-bottom: 20vw;

}
.grid-container{
	display: grid;
	grid-template-columns: 33% 33%
	33%	;
	grid-template-rows: auto;
	height: auto;
	grid-gap: 1vw;
	width: 100%;
}
.card{
	border: 0.1vw solid rgb(0, 122, 255);
	text-align: center;
	width: 100%;
	background-color: #fff;
	font-family: 'Montserrat Alternates', sans-serif;
	border-radius: 1vw;
	cursor: pointer;
	transition: 1s;
}
.card-img{
	width: 100%;
	padding: 0;
	border-radius: 1vw 1vw 0 0;
}
.card-title{
	font-size: 1.5vw;
	font-weight: bold;
	color: rgb(0, 122, 255);
}
.card-content{
	font-size: 1vw;
}
.card:hover{
	background-color: lightgray;
	transition: 1s;
}