.edu-nav{
	background: lightgray;
	width: 100%;
}
.e-choise{
	margin:1vw;
	-webkit-border-radius: 0.5vw;
	        border-radius: 0.5vw;
	height: 2.3vw;
	cursor: pointer;
	position: relative;
	float: right;
	border: 1px solid #d7dde1;
	font-size: 1.2vw;
	font-family: 'Montserrat Alternates', sans-serif;

}
.courses{
	width: 100%;
	display: -ms-grid;
	display: grid;
	-ms-grid-template-columns: 33% 33% 33%;
	    grid-template-columns: 33% 33% 33%;
	grid-gap: 2%;
}
.course{
	background-color: #162034;
	height: 20vw;
	width: 98%;
	-webkit-border-radius: 0.5vw;
	        border-radius: 0.5vw;
	position: relative;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	-webkit-box-shadow: 0 0 0vw white;
	        box-shadow: 0 0 0vw white;
	margin: 1vw 0;
}
.course:hover{
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	-webkit-box-shadow: 0 0 1vw gray;
	        box-shadow: 0 0 1vw gray;
	cursor: pointer;
}
.course:hover .c-title{
 	-webkit-transition: 1s;
 	-o-transition: 1s;
 	transition: 1s;
 	font-size: 1.4vw;
}
.course:hover .paid{
 	-webkit-transition: 1s;
 	-o-transition: 1s;
 	transition: 1s;
 	font-size: 1.2vw;
}
.course:hover .free{
 	-webkit-transition: 1s;
 	-o-transition: 1s;
 	transition: 1s;
 	font-size: 1.2vw;
}
.c-title{
	position: absolute;
	bottom: 0;
	width: 96%;
	text-align: center;
	font-size: 1.2vw;
	padding: 2%;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	color: white;
	font-weight: bold;
}
.paid{
	position: absolute;
	right: 0;
	top: 0;
	background-color: green;
	padding: 0.4vw;
	font-size: 1.1vw;
	color: white;
	-webkit-border-radius: 0 0.5vw 0 0.5vw;
	        border-radius: 0 0.5vw 0 0.5vw;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.free{
	position: absolute;
	right: 0;
	top: 0;
	background-color: red;
	padding: 0.4vw;
	font-size: 1.1vw;
	color: white;
	-webkit-border-radius: 0 0.5vw 0 0.5vw;
	        border-radius: 0 0.5vw 0 0.5vw;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;	
}
