.header{
	width: 100%;
	position: absolute;
	height: 6.5vw;
	box-sizing: border-box;
	z-index: 999;
	transition: 0.5s;	
}

.header2{
	width: 100%;
	position: relative;
	height: 6.5vw;
	box-sizing: border-box;
	z-index: 999;
	transition: 0.5s;
}
.logo{
	width: 30%;
	height: 100%;
	float: left;
}
.logo-container{
	width: 20%;
	height: 90%;
	margin-top: 1%;
	float: left;
}
.main_logo{
	width: 100%;
	height: 100%;
}
.logo-title{
	width: 65%;
	height: 70%;
	font-family: 'Faster One', cursive;
	font-size: 5vw;
	color:#007AFF;
	float: left;


}
.logo-subtitle{
	font-family: 'Comfortaa', cursive;
	font-size:1vw;
	color:#2ED4FF;
	float: left;
}
.navbar{
	width: 69%;
	height: 100%;
	display: flex;
	justify-content: center;
	margin:0;
	padding: 0;
}
.nav-item{
	width: 50%;
	height: 100%;
	list-style: none;
	position: relative;
	}
.draw{
	width: 50%;
	height: 100%;
	list-style: none;
}
.draw1{
	width: 100%;
	height: 100%;
	position: relative;
}
.draw2{
	width: 100%;
	height: 50%;
	position: relative;
	display: none;

}.draw:hover{
	height: 200%;
}
.draw:hover .draw1{
	height: 50%;
}
.draw:hover  .draw2{
	display: block;

}


.draw1:hover,.draw2:hover{
	background-color: #007AFF;
	color:#fff;
	
}
.draw1:hover a,.draw2:hover a{
	color:#fff;
	
}



.nav-item:hover{
	background-color: #007AFF;
	color:#fff;
	
}
.nav-item:hover a{
	color:#fff;
	
}
.nav-link{
	width: 100%;
	color:#007AFF;
	font-size: 1.2vw;
	font-family: 'Montserrat Alternates', sans-serif;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.nav-link  span{
	font-family: 'Montserrat Alternates', sans-serif;
}
.nav-link i{
	
}
.fixed{
	position: fixed;
	background-color: white;
	transition: 0,5s;
}

