@media screen and (max-width: 480px) {
	.header{
		height:500px;
		position: fixed;
		top:-450px;
		
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: 1s;
	}
	.logo{
		width: 100%;
	}
		.header2{
		height:500px;
		position: fixed;
		top:-450px;
		background-color: #007aff;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: 1s;
	}
	.fixed{
		background-color: #007aff;
	}
	.logo-subtitle{
		display: none;
	}
	.logo-title{
		color:#fff;
		font-size: 30px;
		margin-top:3px;

	}
	#check:checked ~ .header{
		transform: translateY(450px);
		background-color: white;
	}
	#check:checked ~ .header2{
		transform: translateY(450px);
		background-color: white;
	}
	#check:checked ~  .burger .icon-burger:before{
		display: none;
		transition: 1s;
	}
	#check:checked ~  .burger .icon-burger:after{
		top:2px;
		left: 1px;
		transition: 1s;
		transform: rotateZ(90deg);	
	}
	#check:checked ~  .burger .icon-burger{
		top:11px;
		left: 5px;
		transform: rotateZ(45deg);
		transition: 1s;
	}
	#check:checked ~ .logo-title{
		color: #007aff!important;
	}
	.logo{
		float: none;
		height: 50px;
		position: fixed;
		top:0;
	}
	.nav-item{
		width: 100%;
		height: 30px;
	}
	.draw{
		width: 100%;
	}
	.draw2{
		display: block;
	}
	.navbar{
		margin-top: 50px;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		height: 70%;

	}
	.nav-link{
		font-size: 20px;
	}
	.burger{
		display: block;
	}
		

	.grid-container{
		grid-template-columns: 1fr;

	}
	.card{
		border: 1px solid gray;
	}
	.card-img{
	width: 100%;
	height: 250px;
	border-radius: 1vw;
	margin:1vw auto;
	border-bottom:  1px solid gray;	
	}
	.card-title{
	font-size: 30px;
	border-bottom:  1px solid gray;	
	}
	.card-content{
		font-size: 20px;
	}
	.search-nav{

	height:50px ;

	}
	.search-nav select{
		width: 20%;
		margin-top: 15px;
		font-size: 13px;
	}
	.city-c{
		width: 20%;
		height: 30%;
		font-size: 13px;
		left:10%;
		top:30%;
	}
	.search-button{
		width: 20%;
		height: 30%;
		left: 70%;
	}
	.footer{
		height: 80%;
	}
	.footer:after{
		display: table;
		content: '';
		clear: both;
	}
	.footer-grid{
		grid-template-columns: 1fr;
		grid-gap: 0vw;
		grid-row-gap: 20px;
		font-size: 15px!important;
		margin-left: 4%;
	}
	.footer-card{
		width: 90%;
		height: 90%;
		text-align: center!important;
		font-size: 15px!important;
	}
	.footer-card-content{
		text-align: center!important;
		font-size: 15px!important;

	}
	.fac{
		font-size: 60px!important;
		margin-right: 20px;
	}
	.mail{
		
	}
	.mini{
		width: 100%;
		height: 300px;
		font-size: 20px!important;
	}
	.give{
	width: 100%;
	height: 30px;
	margin-bottom: 20px;
	}

	.g-button{
		height: 100%;
		font-size: 15px;
	}
	.filter{
		height: 30px;
	}
	.filter label, .filter div{
		font-size: 14px;
	font-weight: bold;
	}
	.filter select, .filter input{
		height: 20px;
		font-size: 12px;
		border:1px solid #007aff;
	}
	.num{
		height: 15px;
		font-size: 12px;
		border:1px solid #007aff;
	}
	.f-button{
		height: 30px;
	}
	.f-button span{
		font-size: 12px;
	}
	
	.grid-inst{
		grid-template-columns:1fr;
		width: 100%;
		height: auto;
	}
	.card-container{
		height: 300px;

	}
	.inst-card{
		border:1px solid gray;
	}
	.card-row{
		border-bottom: 1px solid gray;
	}
	.c-col1{
		font-size: 20px;
	}
	.c-col2{
		font-size: 20px;
	}	
	.inst-res{
		font-size: 30px!important;
	}
	.as-name{
		top:100px;
		z-index: 99;
	}
	#scas{
		height: 280px;
	}
	.sias{
		height: 100%;
		width: 100%;
	}
	.profile{
		grid-template-columns: 1fr;
		width: 95%;
		font-size: 20px;
	}
	.as-info span{
		font-size: 30px!important;
	}
	.as-services{
		min-height: 300px;
	}
	#asss{
		font-size: 30px!important;
	}
	.as-services span{
		font-size: 11px;
	}
	.make-com{
		width: 90%;
		height: 300px;
	}
	.com-label{
		font-size: 20px;
		top:7%;
		left:30%;
	}
	.minis{
		font-size: 10px;

	}
	.l1{
		top:50%;
		left:20%;
	}
	.l2{
		top:55%;
		left:20%;
	}
	.feedback{
		width:190px;
		height:100px;
		font-size: 13px;
		top:16%;
		left: 20%;
		overflow-x: hidden;
		word-wrap: break-word;
		max-width: 200px;
		white-space: normal;
	}
	.send-feed{
		top:80%;
		left: 33%;
		width: 100px;
		height: 30px;
		
	}
	.lol{
		font-size: 12.5px;		
	}


/*---------------edu.php----------------------*/
	.courses{
	width: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: 2%;
	}
	.course{
	height: 250px;
	}
	.c-title{
		font-size: 20px;
	}
	.paid{
		font-size: 20px;
		padding: 5px;
	}
	.free{
		font-size: 20px;
		padding: 5px;
	}
	.course:hover .c-title{
	 	transition: 1s;
	 	font-size: 20px;
	}
	.course:hover .paid{
	 	transition: 1s;
	 	font-size: 20px;
	}
	.course:hover .free{
	 	transition: 1s;
	 	font-size: 20px;
	}
/*---------------v-l.php----------------------*/
	.v-lesson{
		width: 100%;
		padding-bottom: 30px;
	}
	.v-l-title{
		font-size: 20px;
		padding-top: 20px;
	}
	.video{
		width: 100%;
		height: 58.8%;
		text-align: center;
		margin: 0 auto;
		background-color: #111;
	}
/*-----------------driver------------------------------*/
	.d-profile{
		display: grid;
		grid-template-columns: 100%;
		height: auto;
	}
	.d-left{
		height: auto;
	}
	.d-ph{
		height: 500px;
	}
	.d-ph-name{
		font-size: 20px;
	}
	.d-feedback span{
		font-size: 11px!important;
	}
	.d-right{
		height: auto;
	}
	.d-title{
		font-size: 20px;
	}
	.d-card{
		height: auto;
		width: 100%;
	}
	
	.d-personal{
		grid-template-columns: 49% 49%;
		height: auto;
		margin-left: 0%;
		border-left: 0px solid silver!important;

	}
	.d-info{
		font-size: 16px;
		color: #007aff;
		border-bottom: 1px solid silver;

	}
	.personal-podrobno{
		width: 98%;
		height: auto;
		border-left: 0vw solid #2C84C0;
		margin-left: 0%;
	}
	.podrobno{
		font-size: 16px;
		color: #007aff;
	}
	.podrobno-info{
		font-size: 16px;
		margin-top: 10px;
	}
	.add{
		width: 110%!important;;
	}
	.d-edit{
		width: 100%;
	}
/*---------------make----------------*/
		.i-note{
			position: relative;
			margin-left: 20px;
			width: 300px;
			height: auto;
			font-size: 20px;
			margin-bottom: 200px;
		}
		#title{
			font-size: 20px;
		}
		.make-form{
			width: 100%;
			height: 500px;
		}
		.make-filter{
			height: 40px;
			width: 97%;		
		}
		.make-filter label, .make-filter div{
			height: 30px;
			font-size: 15px;
		}
		.make-filter select, .make-filter input{
			height: 30px;
			font-size: 13px;
		}
		.inp{
			height: 30px;
		}
		#i-exp{
			font-size: 20px;
		}
		.inp-label{
			font-size: 10px!important;
		}
		.make-info{
				height: auto;
				font-size: 16px;
		}
/*--------profile--------------------------------*/
.u-profile{
	grid-template-columns: 99%;
	height: auto;
}
.p-card{
	grid-template-columns: 99%;
	height: auto;
	color: #007aff;
}
.p-title{
	font-size: 20px;
}
.p-right{
	height: auto;
}
.p-insts{
	height: auto!important;
}
.p-active{
	height: 300px;
}
.p-dis{
	height: 300px;
}
.p-inst-active{
	height: 30px;
border:1px solid #82FA38;
margin-bottom: 5px;
}
.pia-down{
	font-size: 20px;
}

.p-inst-dis{
		height: 30px;
		border:1px solid red;
}
.p-inst-active a, .p-inst-dis a{
		font-size: 20px;		
}
.pia-delete{
	font-size: 20px;	
}
.pia-activate{
	font-size: 20px;
}
.p-label{
	font-size: 14px;

}
		