.test{
	width: 90%;
	height: 30vw;
	background-color: lightgray;
	padding: 5%;
}
.test-list{
	list-style: none;
}
.answer{
	margin: 1vw;
}
.question{
	font-size: 1.5vw;
}
.t-pics{
	display: grid;
	grid-gap: 2%;
	margin: 1vw 0;
	width: 90%;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.t-pic{
	width: 100%;
	height: 10vw;
	background-color: gray;
}