.v-lesson{
	background-color: lightgray;
	height: auto;
	width: 100%;
	box-shadow: 0 0 1vw gray;
	padding-bottom: 5vw;
}
.v-l-title{
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 2vw;
	padding-top: 2vw;
}
.video{
	text-align: center;
	margin: 1vw;
}