.v-lesson{
	background-color: lightgray;
	height: auto;
	width: 100%;
	-webkit-box-shadow: 0 0 1vw gray;
	        box-shadow: 0 0 1vw gray;
	padding-bottom: 5vw;
}
.v-l-title{
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 2vw;
	padding-top: 2vw;
}
.video{
	width: 50vw;
	height: 30vw;
	text-align: center;
	margin: 1vw auto;
	background-color: #111;
}
.link-test{
	background-color: white;
	width: 20%;
	height: auto;
	padding: 0.5vw;
	float: right;
	text-align: center;
	-webkit-border-radius: 0.5vw;
	        border-radius: 0.5vw;
}